<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='loginpage.css')}}">
  <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css')}}">
</head>
{% block body %}

<body>
  <div class="header">
    <div class="menu">
      <div class="dropdown">
        <button class="dropbtn">Menu</button>
        <div class="dropdown-content">
          <a href={{url_for('dashboard', agentID=agentID, name=nameAgent)}}>Dashboard</a>
          <a href={{url_for('history', agentID=agentID)}}>History</a>
          <a href={{url_for('login')}}>Logout</a>
        </div>
      </div>
    </div>
    <div class="title">Dashboard</div>
    <div class="search" id="search">
      <form action={{url_for('search_agent', agentID=agentID)}} method="POST">
        <input type="text" name="search" id="searchbar" placeholder="Search">
        <input type="submit" value="Search" id="searchbtn">
      </form>
    </div>
  </div>
  <h1 style="text-align: center; color: #3fbed1; margin-top: 70px;margin-bottom: 50px;">Agent: {{ name }}</h1>
  <form action={{url_for('addCustomer', agentID=agentID)}} method="POST" id="form">
    <h2>Enter Info</h2>
    {% if warn=="y" %}
    <h4
      style="background-color: rgb(255, 187, 0); padding: 5px; text-align: center; color: #FFFFFF; border-radius: 5px;">
      Credentials already exists</h4>
    {% endif %}
    {% if success=="y" %}
    <h4
        style="background-color: rgb(255, 187, 0); padding: 5px; text-align: center; color: #FFFFFF; border-radius: 5px;">
        Account Created</h4>
    {% endif %}
    <input type="text" id="name" name="name" placeholder="Name" required>
    <input type="text" id="mobileNo" name="mobileNo" placeholder="Mobile Number" required>
    <input type="password" id="password" name="password" placeholder="Password">
    <input type="submit" value="Create Account">

  </form>
</body>
{% endblock %}

</html>