<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Action</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='dropdown.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='containers.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginpage.css')}}">
</head>
{% block body %}

<body>
    <div class="header">
        <div class="menu">
            <div class="dropdown">
                <button class="dropbtn">Menu</button>
                <div class="dropdown-content">
                    <a href={{url_for('admin')}}>Dashboard</a>
                    <a href={{url_for('add')}}>Add Agent</a>
                    <a href={{url_for('message')}}>Mail</a>
                    <a href={{url_for('login')}}>Logout</a>
                </div>
            </div>
        </div>
        <div class="title">Action Panel</div>
        <div class="search">
            <form action="/admin/search" method="POST">
                <input type="text" name="search" id="searchbar" placeholder="Search">
                <input type="submit" value="Search" id="searchbtn">
            </form>
        </div>
    </div>
    {% if success=="y" %}
    <h4
        style="background-color: rgb(255, 187, 0); padding: 5px; text-align: center; color: #FFFFFF; border-radius: 5px;">
        Report Generated</h4>
    {% endif %}

    <div class="panel">
        <form action="/admin_action" method="post">
            <input type=checkbox name=option value='Export'>Export<br/>
            <input type=checkbox name=option value='Add Agents'>Add Agents<br/>
            <input type=checkbox name=option value='Add Customers'>Add Customers<br/>
            <input type="submit" value="Action">
        </form>
    </div>


</body>
{% endblock %}

</html>